* {
    font-family: Verdana;
    font-weight: normal;
    text-align: center;
    background-color: black;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 42px;
}

h3 {
    color: gray;
    font-size: 21px;
}

h4 {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.footer {
    text-align: right;
}